<mat-card class="cardWithShadow mb-0!">

    <mat-tab-group mat-stretch-tabs="false" animationDuration="0ms">
        <!-- Tab Cuenta -->
        <mat-tab>
            <ng-template mat-tab-label>
                <div class="flex items-center">
                    <mat-icon class="flex! items-center">
                        <i-tabler name="user-circle" class="size-5!"></i-tabler>
                    </mat-icon>
                    Cuenta
                </div>
            </ng-template>
            <mat-card-content>
                <div class="grid grid-cols-12 gap-6">
                    <div class="sm:col-span-6 col-span-12">
                        <mat-card class="cardWithShadow mb-0!">
                            <mat-card-content>
                                <mat-card-title>Cambiar Perfil</mat-card-title>
                                <mat-card-subtitle class="text-sm">Cambia tu foto de perfil desde
                                    aquí</mat-card-subtitle>
                                <div class="text-center mt-8">
                                    <img src="/assets/images/profile/user-1.jpg" class="rounded-full mx-auto"
                                        width="120" />
                                    <div class="mt-6">
                                        <button mat-flat-button color="primary" class="me-2">
                                            Subir
                                        </button>
                                        <button mat-stroked-button color="warn">Restablecer</button>
                                    </div>
                                    <span class="text-sm mt-6 block">Permitido JPG, GIF o PNG. Tamaño máximo de
                                        800K</span>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <div class="sm:col-span-6 col-span-12">
                        <mat-card class="cardWithShadow mb-0!">
                            <mat-card-content>
                                <mat-card-title>Detalles Personales</mat-card-title>
                                <mat-card-subtitle class="text-sm">Edita tus detalles personales y guarda los
                                    cambios</mat-card-subtitle>
                                <form [formGroup]="profileForm" (ngSubmit)="saveProfile()" class="mt-6">
                                    <div class="grid grid-cols-12 gap-5">
                                        <div class="col-span-12">
                                            <mat-label class="text-sm font-semibold mb-2 block">Nombre
                                                Completo</mat-label>
                                            <mat-form-field appearance="outline" class="w-full" color="primary">
                                                <input matInput type="text" formControlName="fullName" />
                                            </mat-form-field>
                                        </div>
                                        <div class="col-span-12">
                                            <mat-label class="text-sm font-semibold mb-2 block">Nombre de Usuario
                                                (Display)</mat-label>
                                            <mat-form-field appearance="outline" class="w-full" color="primary">
                                                <input matInput type="text" formControlName="displayName" />
                                            </mat-form-field>
                                        </div>
                                        <div class="sm:col-span-6 col-span-12">
                                            <mat-label class="text-sm font-semibold mb-2 block">Teléfono</mat-label>
                                            <mat-form-field appearance="outline" class="w-full" color="primary">
                                                <input matInput type="text" formControlName="phone" />
                                            </mat-form-field>
                                        </div>
                                        <div class="sm:col-span-6 col-span-12">
                                            <mat-label class="text-sm font-semibold mb-2 block">Correo
                                                electrónico</mat-label>
                                            <mat-form-field appearance="outline" class="w-full" color="primary">
                                                <input matInput type="email" [value]="authService.currentUser()?.email"
                                                    disabled />
                                            </mat-form-field>
                                        </div>
                                        <div class="col-span-12">
                                            <mat-label class="text-sm font-semibold mb-2 block">Dirección</mat-label>
                                            <mat-form-field appearance="outline" class="w-full" color="primary">
                                                <input matInput type="text" formControlName="address" />
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="text-end mt-4">
                                        <button mat-flat-button color="primary" type="submit"
                                            [disabled]="profileForm.invalid">Guardar Perfil</button>
                                    </div>
                                </form>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </mat-card-content>
        </mat-tab>

        <!-- Tab Seguridad -->
        <mat-tab>
            <ng-template mat-tab-label>
                <div class="flex items-center">
                    <mat-icon class="flex! items-center">
                        <i-tabler name="lock" class="size-5!"></i-tabler>
                    </mat-icon>
                    Seguridad
                </div>
            </ng-template>
            <mat-card-content>
                <div class="max-w-lg mx-auto">
                    <mat-card class="cardWithShadow mb-0!">
                        <mat-card-content>
                            <mat-card-title>Cambiar Contraseña</mat-card-title>
                            <mat-card-subtitle class="text-sm">Para cambiar tu contraseña, confírmala
                                aquí</mat-card-subtitle>
                            <form [formGroup]="securityForm" (ngSubmit)="updatePassword()" class="mt-6">
                                <mat-label class="text-sm font-semibold mb-2 block">Contraseña Actual</mat-label>
                                <mat-form-field appearance="outline" class="w-full" color="primary">
                                    <input matInput type="password" formControlName="currentPassword" />
                                </mat-form-field>

                                <mat-label class="text-sm font-semibold mb-2 block">Nueva Contraseña</mat-label>
                                <mat-form-field appearance="outline" class="w-full" color="primary">
                                    <input matInput type="password" formControlName="newPassword" />
                                    <mat-hint>Mínimo 8 caracteres</mat-hint>
                                </mat-form-field>

                                <div class="mt-4"></div>

                                <mat-label class="text-sm font-semibold mb-2 block">Confirmar Contraseña</mat-label>
                                <mat-form-field appearance="outline" class="w-full hide-hint" color="primary">
                                    <input matInput type="password" formControlName="confirmPassword" />
                                    <mat-error *ngIf="securityForm.hasError('mismatch')">
                                        Las contraseñas no coinciden
                                    </mat-error>
                                </mat-form-field>

                                <div class="text-end mt-6">
                                    <button mat-flat-button color="primary" type="submit"
                                        [disabled]="securityForm.invalid">Actualizar Contraseña</button>
                                </div>
                            </form>
                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-card-content>
        </mat-tab>

        <!-- Tabs maquetados -->
        <mat-tab disabled>
            <ng-template mat-tab-label>
                <div class="flex items-center">
                    <mat-icon class="flex! items-center">
                        <i-tabler name="bell" class="size-5!"></i-tabler>
                    </mat-icon>
                    Notificaciones
                </div>
            </ng-template>
            <mat-card-content></mat-card-content>
        </mat-tab>
        <mat-tab disabled>
            <ng-template mat-tab-label>
                <div class="flex items-center">
                    <mat-icon class="flex! items-center">
                        <i-tabler name="receipt" class="size-5!"></i-tabler>
                    </mat-icon>
                    Facturación
                </div>
            </ng-template>
            <mat-card-content></mat-card-content>
        </mat-tab>
    </mat-tab-group>
</mat-card>