<mat-tab-group animationDuration="0ms">
    <mat-tab>
        <ng-template mat-tab-label>
            <div class="flex items-center gap-2">
                <i-tabler name="user-circle" class="size-5"></i-tabler> Perfil
            </div>
        </ng-template>
        <div class="py-6">
            <app-profile-setting></app-profile-setting>
        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <div class="flex items-center gap-2">
                <i-tabler name="building-store" class="size-5"></i-tabler> Empresa
            </div>
        </ng-template>
        <div class="py-6">
            <app-company-setting></app-company-setting>
        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <div class="flex items-center gap-2">
                <i-tabler name="lock" class="size-5"></i-tabler> Seguridad
            </div>
        </ng-template>
        <div class="py-6">
            <app-security-setting></app-security-setting>
        </div>
    </mat-tab>
</mat-tab-group>