<mat-tab-group animationDuration="0ms">
    <mat-tab>
        <ng-template mat-tab-label>
            <div class="flex items-center gap-2">
                <i-tabler name="users" class="size-5"></i-tabler> Clientes
            </div>
        </ng-template>
        <div class="py-6">
            <app-client-settings></app-client-settings>
        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <div class="flex items-center gap-2">
                <i-tabler name="credit-card" class="size-5"></i-tabler> Medios de Pago
            </div>
        </ng-template>
        <div class="py-6">
            <app-payment-means-settings></app-payment-means-settings>
        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <div class="flex items-center gap-2">
                <i-tabler name="receipt-tax" class="size-5"></i-tabler> Impuestos
            </div>
        </ng-template>
        <div class="py-6">
            <app-tax-settings></app-tax-settings>
        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <div class="flex items-center gap-2">
                <i-tabler name="briefcase" class="size-5"></i-tabler> Servicios
            </div>
        </ng-template>
        <div class="py-6">
            <app-service-settings></app-service-settings>
        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <div class="flex items-center gap-2">
                <i-tabler name="box" class="size-5"></i-tabler> Productos
            </div>
        </ng-template>
        <div class="py-6">
            <app-product-settings></app-product-settings>
        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <div class="flex items-center gap-2">
                <i-tabler name="file-invoice" class="size-5"></i-tabler> Plantilla
            </div>
        </ng-template>
        <div class="py-6">
            <app-invoice-template-settings></app-invoice-template-settings>
        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <div class="flex items-center gap-2">
                <i-tabler name="calendar-event" class="size-5"></i-tabler> Frecuencias
            </div>
        </ng-template>
        <div class="py-6">
            <app-payment-frequency-settings></app-payment-frequency-settings>
        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <div class="flex items-center gap-2">
                <i-tabler name="clock-hour-4" class="size-5"></i-tabler> Plazos
            </div>
        </ng-template>
        <div class="py-6">
            <app-payment-term-settings></app-payment-term-settings>
        </div>
    </mat-tab>
</mat-tab-group>