<h2 mat-dialog-title>{{ (isEdit ? 'Edit Product' : 'Add Product') | translate }}</h2>
<mat-dialog-content>
    <form [formGroup]="productForm" class="flex flex-col mt-4 py-2 gap-1">
        <mat-form-field appearance="outline">
            <mat-label>Nombre del producto</mat-label>
            <input matInput formControlName="name" placeholder="Ej. Mouse Inalámbrico Logitech">
            @if (productForm.get('name')?.hasError('required')) {
            <mat-error>El nombre es obligatorio</mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>SKU</mat-label>
            <input matInput formControlName="sku" placeholder="Ej. MOU-INL-002">
            @if (productForm.get('sku')?.hasError('required')) {
            <mat-error>El SKU es obligatorio</mat-error>
            }
            @if (productForm.get('sku')?.hasError('duplicate')) {
            <mat-error>Este SKU ya está en uso por otro producto</mat-error>
            }
        </mat-form-field>
        <div>
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Categorías</mat-label>
                <mat-chip-grid #chipGrid aria-label="Category selection">
                    @for (category of selectedCategories(); track category) {
                    <mat-chip-row (removed)="remove(category)">
                        {{category}}
                        <button matChipRemove [attr.aria-label]="'remove ' + category">
                            <i-tabler name="x" class="size-3"></i-tabler>
                        </button>
                    </mat-chip-row>
                    }
                </mat-chip-grid>
                <input placeholder="Ej. Periféricos..." #categoryInput [formControl]="categoryControl"
                    [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)" />
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                    @for (category of filteredCategories(); track category) {
                    <mat-option [value]="category">{{category}}</mat-option>
                    }
                </mat-autocomplete>
                @if (productForm.get('categories')?.hasError('required')) {
                <mat-error>Selecciona al menos una categoría</mat-error>
                }
            </mat-form-field>
            <div class="flex justify-end -mt-5">
                <button mat-button color="primary" class="text-xs!" type="button" (click)="addNewCategory()">
                    <div class="flex items-center">
                        <i-tabler name="plus" class="size-4 me-1"></i-tabler>
                        {{ 'Add New Category' | translate }}
                    </div>
                </button>
            </div>
        </div>


        <div class="grid grid-cols-3 gap-4">
            <mat-form-field appearance="outline">
                <mat-label>Stock actual</mat-label>
                <input matInput type="number" formControlName="stock" placeholder="Ej. 50">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Stock mínimo</mat-label>
                <input matInput type="number" formControlName="minStock" placeholder="Ej. 5">
                @if (productForm.get('minStock')?.hasError('min')) {
                <mat-error>Debe ser ≥ 0</mat-error>
                }
                @if (productForm.get('minStock')?.hasError('minGreaterThanMax')) {
                <mat-error>No puede ser mayor al máximo</mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Stock máximo</mat-label>
                <input matInput type="number" formControlName="maxStock" placeholder="Ej. 100">
                @if (productForm.get('maxStock')?.hasError('min')) {
                <mat-error>Debe ser ≥ 0</mat-error>
                }
                @if (productForm.get('maxStock')?.hasError('maxLessThanMin')) {
                <mat-error>No puede ser menor al mínimo</mat-error>
                }
            </mat-form-field>
        </div>

        <mat-form-field appearance="outline">
            <mat-label>Descripción</mat-label>
            <textarea matInput formControlName="description" rows="3"
                placeholder="Ej. Periférico inalámbrico con autonomía de 12 meses..."></textarea>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end" class="p-24 pt-0">
    <button mat-button (click)="onCancel()">{{ 'Cancel' | translate }}</button>
    <button mat-flat-button color="primary" [disabled]="productForm.invalid" (click)="onSubmit()">
        {{ (isEdit ? 'Update' : 'Save') | translate }}
    </button>
</mat-dialog-actions>