<div class="mb-6 flex flex-wrap gap-7.5 items-center justify-between">
  <div class="flex flex-col">
    <h4 class="page-title text-lg font-medium">
      {{ pageInfo?.['title'] }}
    </h4>
    <div class="flex items-center overflow-hidden justify-content-start list-style-none">
      <ul class="breadcrumb">
        @for (url of pageInfo?.['urls']; track url.url; let index = $index, last = $last) {
        @if (!last) {
        <li class="breadcrumb-item" [routerLink]="url.url">
          <a [routerLink]="url.url">{{ url.title }}</a>
        </li>
        } @else {
        <li class="breadcrumb-item">
          <i-tabler name="circle-filled" class="size-2!"></i-tabler>
        </li>
        <li class="breadcrumb-item active text-sm">{{ url.title }}</li>
        }
        }
      </ul>
    </div>
  </div>
</div>