<div class="flex">
  <div class="user-profile profile-bar w-full bg-[url('assets/images/backgrounds/user-info.jpg')] bg-no-repeat">
    <!-- User profile image -->
    <div class="profile-img">
      <img src="assets/images/profile/user-1.jpg" alt="user" width="50" class="rounded-full" />
    </div>
    <!-- User profile text-->
    <!-- ============================================================== -->
    <!-- Profile - style you can find in header.scss -->
    <!-- ============================================================== -->
    <div class="profile-text pt-1">
      <a href="javascript:void(0)" class="no-underline flex items-center justify-between text-white! w-full text-base">
        Markarn Doe
      </a>
    </div>
  </div>
</div>